/*  your css code here. If applicable */
.form-group{
	display:flex;
	flex-direction:column;
	gap:2px;
	margin-bottom:20px;
}
.btn{
	width:80px;
	background:lightskyblue;
	border-radius:4px;
	border-color:lightblue;
}
.btn:hover{
	border-color:blue;
}
#book-list{
	border-bottom:1px solid lightgray;
}